       <div class="badge_wrap">
           <div class="txt {{:role}}">
               <div class="logo">

                   <div class="inline"><span>ИПРИМ</span><span class="ran">РАН</span><span>30</span></div>
                   <div class="inline"><span>МКМК·2019</span></div>

               </div>


               <div class="badge_name {{:role}}">
                   <div class="badge_auth firstWord">              
            <span>{{: name.split(" ")[1] }} {{: name.split(" ")[2] }}</span>
            <span class="first"> {{: name.split(" ")[0] }} </span>
                   </div>
                   <div class="job">
                       <span>{{:job}}</span>
                   </div>
               </div>

           </div>
       </div> 