// main: main.less

// --xs-min: 30;
// --sm-min: 48;
// --md-min: 64;
// --lg-min: 75;

.block {
  width: 80%;
  max-width: 1144px;
  margin: 0 auto;
  .max(48em, {width: 95%;});
}

.inner {
    width: 100%;
    padding: 35px;
    .max(64em, {padding: 15px;});
}


.first_page {
    width: 100%;
    height: 100vh;
    .bgc;
    background-image: url(img/base_layer.jpg);
    position: relative;

    .dot_layer {
        position: absolute;
        top: 0;right: 0;left: 0;bottom: 0;
        .bgc;
       // background-image: url(img/dotes.png);
        z-index: 1;
    }
    .seconf_layer {
        position: absolute;
        top: 0;bottom: 0;right: 0;left: 0;
        z-index: 3;
        
        .bgc;
        background-image: url(img/base_layer.png);

        .m_grid_text {
            display: none;

            .max(48em, {  
                position: absolute;
                bottom: 0;right: 0;left: 0;

                width: 100%;
                display: block;
                padding: 1em;

                .subt {
                     font-size: 2em;
                     color: #fff;
                     a {
                        color: #f7ff06;
                     }
                }
                .titel {
                    color: #fff;
                    font-size: 1.5em;
                    margin: 1em 0;
                    .social_block {                
                        ul {
                            display: block;
                            margin: 0;padding:1em 0;

                            li {
                                display: inline-block;
                                margin: 0;padding: 0;
                                padding-right: 1em;    
                                a {
                                    color: #eaeaea;
                                }
                            } 
                        }
                    }
            } 
        });
        }
    }

    .grid_layer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-star;
        align-content: stretch;
        padding: 1em;
        padding-top: 10%;

        position: relative;
        z-index: 4;
        width: 100%;
        height: 100vh;

        &:hover {
            z-index: 4;
        }

        .grid_text {
            font-size: 1.5em;
          //  width: 20%; 
         //   flex-grow: 2;
         .max(48em, { flex-grow: 2; });
        }

        .name {
            .myname{
                font-size: 2em;
                line-height: 1;
                font-weight: bold;
            }
            .subt {
                padding-top: 1em; 
                abbr {
                    text-decoration: none;
                    border: 0;
                }
                .max(48em, {
                    display: none;
                 });     
            }
         .subt_other {
            display: none;
            overflow-y: hidden;
            min-height: 30%;
            margin-top: 10%;
            font-size: 0.8em;
            line-height: 1.3;

            ul {
                display: block;
                margin: 0;padding: 0;
                li {
                    display: block;
                    padding-bottom: 1rem;
                    color:#bfbfbf;
                }
            }

            .max(48em, {
                display: none;
             }); 
         }   
        }

        .titel {
            padding-top: 3em;
            text-align: right;
        }

        .social_block {
            padding-top: 1em;
            position: relative;
            z-index: 2;
            align-self: flex-end;
          //  flex-grow: 1;
         .social {
             width: 100%;
            }
             ul {    
                 display: block;
                 text-align: center;
                 margin: 0; padding: 0;
                 padding-top: 0.5em;
                 display: flex;
                 justify-content: center;
                 align-items: center;
 
                 li {
                     display: inline-block;
                     padding-right: 1.2em;
                     a {
                         text-decoration: none;
                         color: #fff;
                     }
                 }
             }
         }

        .max(48em, {  
            flex-direction: column; 
            height: 100%;
            .grid_text {
                width: 50%;  
            }
            .social_block {display: none;}
            .titel {
                color: #fff;
            .social_block {                
                    ul {
                        li {
                            a {
                                color: #eaeaea;
                            }
                        } 
                    }
                }
        } 
    });
    }

    .max(48em, { 
        background-image: url(img/mobile.jpg);
        .seconf_layer {
            background-image: url(img/mobile.png); 
            z-index: 3;
        }
        .grid_layer {
            z-index: 2;
        }
    });
 
}

