<fieldset>
    <input type="text" name="name" class="name" placeholder="Имя" value="">
    <input type="text" name="job" class="job" placeholder="Место работы" value="">
</fieldset>

<fieldset>
    <label for="org" class="pure-radio">
        <input id="org" type="radio" name="role" class="role" placeholder="Оргкомитет" value="org">Оргкомитет</label>
    <label for="committee" class="pure-radio">
        <input id="committee" type="radio" name="role" class="role" placeholder="Техкомитет" value="committee">Техкомитет</label>
    <label for="member" class="pure-radio">
        <input id="member" type="radio" name="role" class="role" placeholder="Участник" value="member">Участник</label>
</fieldset>