<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <!-- <link rel="icon" href="favicon.png"> -->
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="block">
        <div class="container">
            <div class="grid">
                <div class="column is-one-third">
                    <h2>Projectes</h2>
                    <ul id="projects">
                        <li>
                            <a data-id="03c41faf-74c4-46c1-89d7-0d5e81a65417" data-name="Новый проект" data-description="опиание" data-created-at="2025-02-24T20:19:27.262632+00:00" data-created-by="null" data-updated-at="2025-02-27T09:04:46.725164+00:00" data-updated-by="4f9d5287-3c19-47d0-bc36-dd1559268576" data-is-active="true" data-short-name="tp" href="#proj03c41faf-74c4-46c1-89d7-0d5e81a65417" class="project active">Новый проект</a>
                            <span>опиание</span>
                            <ul class="series" id="proj03c41faf-74c4-46c1-89d7-0d5e81a65417">
                                <li class="item card">
                                    <a data-id="ed1b1a1f-28fe-4558-b099-c69b4f49b924" data-name="Тестовая серия" data-description="Серия экспериментов для тестирования" data-project-id="03c41faf-74c4-46c1-89d7-0d5e81a65417" data-created-at="2025-02-24T18:40:07.367907+00:00" data-created-by="4f9d5287-3c19-47d0-bc36-dd1559268576" data-updated-at="2025-02-27T21:30:23.100523+00:00" data-updated-by="4f9d5287-3c19-47d0-bc36-dd1559268576" data-is-active="true" class="series">Тестовая серия</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a data-id="3bf60044-a19a-4276-b493-729976ebc1f7" data-name="Тестовый проект" data-description="Проект для тестирования API и функциональности" data-created-at="2025-02-24T18:40:07.367907+00:00" data-created-by="4f9d5287-3c19-47d0-bc36-dd1559268576" data-updated-at="2025-02-27T09:04:33.550154+00:00" data-updated-by="4f9d5287-3c19-47d0-bc36-dd1559268576" data-is-active="true" data-short-name="apit" href="#proj3bf60044-a19a-4276-b493-729976ebc1f7" class="project active">Тестовый проект</a>
                            <span>Проект для тестирования API и функциональности</span>
                            <ul class="series" id="proj3bf60044-a19a-4276-b493-729976ebc1f7"></ul>
                        </li>
                    </ul>
                </div>
                <div class="column is-two-thirds" >
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="">getProject()</a></li>
                            <li><a href="">getSeries()</a></li>
                        </ul>
                    </div>
                    <div id="samples" class="samples_block is-table-container">
                        <table class="table is-bordered  is-striped">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Description</td>
                                <td>ID</td>
                                <td>Code</td>
                                <td>Series</td>
                                <td>Metadata</td>
                                <td>Location</td>
                                <td>created_at</td>
                                <td> </td>
                                <td>Created</td>
                                <td>Updated</td>
                                <td>Active</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span data-field="name">Titel</span></td>
                                <td><span data-field="description">Description</span></td>
                                <td><span data-field="id">0cd048fa-60a0-45cc-8a37-926d9ca20743</span></td>
                                <td><span data-field="generated_code">SPL-2025-02-24-1fce03</span></td>
                                <td><span data-field="series_id">get_series_link</span></td>
                                <td><span data-field="metadata">[object Object]</span></td>
                                <td><span data-field="storage_location">outsource</span></td>
                                <td><span data-field="created_at">02.02.2025</span></td>
                                <td><span data-field="created_by">02.02.2025</span></td>
                                <td><span data-field="updated_at">02.02.2025</span></td>
                                <td><span data-field="updated_by">@user</span></td>
                                <td><span data-field="is_active">true</span></td>
                            </tr>
                        </tbody>
                        </table>
                       
                    </div>
                    <button class="button is-primary" onclick="creatExampleForm()">Add new</button>
                    <div class="modal">
                        <div class="modal__background"></div>
                        <div class="modal__content has-no-padding">
                          <div class="card">
                            <div class="card__header">
                              <h4>A card header</h4>
                            </div>
                            <div class="card__content">
                                <form action="" method="GET">
                                    <input type="text" name="name" value="Новый проект">
                                    <textarea name="description">опиание</textarea>
                                    <input type="number" name="project_id" value="undefined">
                                    <input type="datetime-local" name="created_at" value="2025-02-24T20:19:27.262632+00:00">
                                    <input type="text" name="created_by" value="null">
                                    <input type="datetime-local" name="updated_at" value="2025-02-27T09:04:46.725164+00:00">
                                    <input type="text" name="updated_by" value="4f9d5287-3c19-47d0-bc36-dd1559268576">
                                    <select name="is_active">
                                        <option value="1" selected="">Да</option>
                                        <option value="0">Нет</option>
                                    </select>
                                    <input type="submit" value="Отправить">
                                </form>
            
                            </div>
                            <div class="card__footer">
                              <button class="button">Cancel</button>
                              <button class="button is-primary">Confirm</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      

                </div>
            </div>
        </div>
    </div>
</body>
</html>