@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cykp1y');
  src:  url('fonts/icomoon.eot?cykp1y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cykp1y') format('truetype'),
    url('fonts/icomoon.woff?cykp1y') format('woff'),
    url('fonts/icomoon.svg?cykp1y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at-sign:before {
  content: "\e900";
}
.icon-award:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-book-open:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-message-circle:before {
  content: "\e908";
}
.icon-message-square:before {
  content: "\e909";
}
.icon-navigation:before {
  content: "\e90a";
}
.icon-send:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
